<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建问卷</title>
</head>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script>
		var t_id=1
		
		
		var appendMulti=function(){
			var num=2;
			var insert=document.getElementById("insert");
			var h1=document.createElement("h3");
			var text1=document.createTextNode(t_id +"标题"+"("+"multi"+")");
			h1.appendChild(text1);
			h1.setAttribute("id",t_id+"TI");
			var s_id=0;
			
			var br=document.createElement("br");
			var input0=document.createElement("input");
			var text2=document.createTextNode("please input option content");
			input0.appendChild(text2);
			input0.setAttribute("id",t_id+"_"+"0");
			input0.setAttribute("name",t_id+"_"+"0");
			insert.appendChild(h1,br);
			insert.appendChild(input0,br);

			var p1=document.createElement("p");
			var inputg=document.createElement("input");
			var text_p1=document.createTextNode("type");
			inputg.setAttribute("id",t_id+"_"+"1");
			inputg.setAttribute("name",t_id+"_"+"1");
			inputg.setAttribute("value","多选");
			p1.appendChild(text_p1);
			/*p1.appendChild(inputg);*/
			insert.appendChild(p1);
			insert.appendChild(inputg);

			var h2=document.createElement("h3");
			var text2=document.createTextNode("选项");
			h2.appendChild(text2);
			insert.appendChild(h2,br);
			var selectionarr= ["a","b","c","d","e","f","g","h","i","j","k","l","m","n"];
			for(i=0;i<4;i=i+1){
				var h3=document.createElement("h3");
				var inputu=document.createElement("input");
				var br1=document.createElement("br");
				var text_h3 =document.createTextNode(selectionarr[i]);
				h3.setAttribute("id",t_id+"_"+selectionarr[i]);
				h3.appendChild(text_h3);
				s_id=s_id+1;
				u=i;
				inputu.setAttribute("id",t_id+"_"+num);
				inputu.setAttribute("name",t_id+"_"+num);
				num=num+1;
				insert.appendChild(h3);
				insert.appendChild(inputu);
				insert.appendChild(br1);
			};

			
			
			var button2=document.createElement("button");
			var text4 = document.createTextNode("增加选项");
			button2.setAttribute("id","button2"+t_id);
			button2.appendChild(text4);
			insert.appendChild(button2);
			t_id = t_id + 1;
			
			

		};

		$("#").click(function(){
				$("#Div1").hide();
			});
		
		
		$
			
		var appendSigle=function(){
			var num=2;
			var insert=document.getElementById("insert");
			var h1=document.createElement("h3");
			var text1=document.createTextNode(t_id +"标题"+"("+"single"+")");
			h1.appendChild(text1);
			/*h1.setAttribute("id",t_id+"_"+"0");*/
			var s_id=0;
			
			var br=document.createElement("br");
			var input0=document.createElement("input");
			var text2=document.createTextNode("please input option content");
			input0.appendChild(text2);
			input0.setAttribute("name",t_id+"_"+"0");
			insert.appendChild(h1,br);
			insert.appendChild(input0,br);

			var p1=document.createElement("p");
			var inputg=document.createElement("input");
			var text_p1=document.createTextNode("type");
			inputg.setAttribute("id",t_id+"_"+"1");
			inputg.setAttribute("name",t_id+"_"+"1");
			inputg.setAttribute("value","单选");
			p1.appendChild(text_p1);
			insert.appendChild(p1);
			insert.appendChild(inputg);

			var h2=document.createElement("h3")
			var text2=document.createTextNode("选项");
			h2.appendChild(text2);
			insert.appendChild(h2,br);
			var selectionarr= ["a","b","c","d","e","f","g","h","i","j","k","l","m","n"];
			for(i=0;i<4;i=i+1){
				u=i;
				var p=document.createElement("p");
				var inputu=document.createElement("input");
				var br1=document.createElement("br");
				var text_p=document.createTextNode(selectionarr[i]);
				p.setAttribute("id",t_id+"option"+selectionarr[i]);
				p.appendChild(text_p);


				/*s_id=s_id+1;*/

				inputu.setAttribute("id",t_id+"_"+num);
				inputu.setAttribute("name",t_id+"_"+num);
				inputu.type="text";
				num=num+1;
				insert.appendChild(p);
				insert.appendChild(inputu);
				insert.appendChild(br1);
			};

			
			
			var button2=document.createElement("button");
			var text4 = document.createTextNode("增加选项");
			button2.setAttribute("id","button2"+t_id);
			button2.appendChild(text4);
			insert.appendChild(button2);
			t_id = t_id + 1;


		};
		
		
		var appendText = function (){
			var insert=document.getElementById("insert");
			//var div1=document.createElement("div");
			//var div2=document.createElement("div");
			var h1=document.createElement("h3");
			var text1=document.createTextNode(t_id +"标题"+"("+"text"+")");
			h1.appendChild(text1);
			h1.setAttribute("id",t_id);


			
			var br=document.createElement("br");
			var input0=document.createElement("input");
			var text2=document.createTextNode("please input option content");
			input0.appendChild(text2);
			input0.setAttribute("name",t_id+"_"+"0");
			input0.setAttribute("id",t_id+"_"+"0");
			insert.appendChild(h1,br);
			insert.appendChild(input0,br);
			//div1.appendChild(div2);

			var p1=document.createElement("p");
			var inputg=document.createElement("input");
			var text_p1=document.createTextNode("type");
			inputg.innerHtml="填空";
			inputg.setAttribute("id",t_id+"_"+"1");
			inputg.setAttribute("name",t_id+"_"+"1");
			inputg.setAttribute("value","填空");
			p1.appendChild(text_p1);

			insert.appendChild(p1);
			insert.appendChild(inputg);


			//var div3=document.createElement("div");
			/*var h2=document.createElement("h3")
			var text2=document.createTextNode("答案");
			h2.appendChild(text2);
			insert.appendChild(h2,br);
			
			var textarea= document.createElement("input");
			textarea.setAttribute("id",t_id+"input"+text);
			textarea.type="text";
			textarea.setAttribute("name",t_id+"input"+text);
			insert.appendChild(textarea);*/
			

			
			t_id = t_id + 1;
			
			

		
		}
		
		var appendMat=function(){
			var num=3;
			var insert=document.getElementById("insert");
			var h1=document.createElement("h3");
			var text1=document.createTextNode(t_id +"标题"+"("+"matrix"+")");
			h1.appendChild(text1);
			h1.setAttribute("id",t_id);


			
			var br=document.createElement("br");
			var input0=document.createElement("input");
			var text2=document.createTextNode("please input option content");
			input0.appendChild(text2);
			input0.setAttribute("name",t_id+"_"+"0");
			input0.setAttribute("id",t_id+"_"+"0");
			insert.appendChild(h1,br);
			insert.appendChild(input0,br);
			//div1.appendChild(div2);

			//var div3=document.createElement("div");

			var selectionarr= ["a","b","c","d","e","f","g","h","i","j","k","l","m","n"];

			var p1=document.createElement("p");
			var inputg=document.createElement("input");
			var text_p1=document.createTextNode("type");
			inputg.innerHtml="矩阵";
			inputg.setAttribute("id",t_id+"_"+"1");
			inputg.setAttribute("value","矩阵");
			inputg.setAttribute("name",t_id+"_"+"1");
			p1.appendChild(text_p1);
			insert.appendChild(p1);
			insert.appendChild(inputg);

			var h3=document.createElement("h3")
			var text_h3 =document.createTextNode("选项");
			h3.appendChild(text_h3);
			insert.appendChild(h3);

			for (u=0;u<6;u++){
					var inputu =document.createElement("input");
					inputu.type="type";
					inputu.setAttribute("id",t_id+"_"+"2"+selectionarr[u]);
					inputu.setAttribute("name",t_id+"_"+"2"+selectionarr[u]);

					insert.appendChild(inputu);
			};

			var h2=document.createElement("h3")
			var text2=document.createTextNode("小题目");
			h2.appendChild(text2);
			insert.appendChild(h2,br);

			for(i=0;i<5;i++){
				var inputi=document.createElement("input");
				var br1=document.createElement("br");
				inputi.type="text";
				inputi.setAttribute("id",t_id+"_"+num);
				inputi.setAttribute("name",t_id+"_"+num);
				insert.appendChild(inputi);
				insert.appendChild(br1);
				num=num+1;
				

					
				}


			
			
			var button2=document.createElement("button");
			var text4 = document.createTextNode("增加选项");
			button2.setAttribute("id","button2"+t_id);
			button2.appendChild(text4);
			insert.appendChild(button2);
			t_id = t_id + 1;
			
			
			//div1.appendChild(div3);
			//div.appendChild(div1);
		};
		
			
	</script>


{% include 'header.html' %}

<br>
<br>
		<div>
			<button  onclick="appendMulti()" id="Multi">多选</button>
			<button  onclick="appendSigle()" id="Single">单选</button>
			<button  onclick="appendText()"  id="text">填空</button>
			<button  onclick="appendMat()"   id="Mat">矩阵</button>
				<form id="question" name="question" method="post" style="color: #B9B973;">
					<input id="qname" name="qname" type="text"></input>
					<label for="qname">请输入问卷题目</label>
					<div id="insert">
					
					</div>
					<br>
					<input type="submit" value="submit"> 提交 </input>	
				</form>
		</div>

{% include 'foot.html' %}


</html>