{% include 'header.html' %}

<head>
	<link rel="stylesheet" type="text/css"  href="/static/css/index.css">
</head>

<br>
<div class="intro-header">
		<div class="container">
	
	        <div class="row">
	            <div class="col-lg-12">
	                <div class="intro-message">
	                    <hr class="intro-divider">
	                    <ul class="list-inline intro-social-buttons">
	                        <li><a href="createquestion.html" class="btn btn-primary"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">创建问卷</span></a>
	                        </li>
	                        <li>
	                            <a href="tiqu.html" class="btn btn-success"><i class="fa fa-github fa-fw"></i> <span class="network-name">查看正在调查中的问卷</span></a>
	                        </li>

	                    </ul>
	                </div>
	            </div>
			</div>
	
		</div>
	        <!-- /.container -->
</div>


<div class="row">
	<div class="col-md-8">
		<div class="jumbotron" style=background-color:"#F0F8FF">
		<h1>欢迎来到山寨问卷系统</h1>
		<p>这是一个由广工人倾力打造的一个简单实用的问卷系统</p>
		<p>我们的口号是：没有蛀牙</p>
		
		</div>
	</div>
	<div class="col-md-4">
		<ul class="list-group">
			<li class="list-group-item">Cras justo odio</li>
			<li class="list-group-item">Dapibus ac facilisis in</li>
			<li class="list-group-item">Morbi leo risus</li>
			<li class="list-group-item">Porta ac consectetur ac</li>
			<li class="list-group-item">Vestibulum at eros</li>
		</ul>
	</div>

</div>

<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="well well-lg">...</div>
</div>
			
{% include "foot.html" %}